@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

/* custom cedarville .if you want full body text use,because its nice font text */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');


body {
    /* font-family: "Rubik", sans-serif; */
    font-family: "Rubik Marker Hatch", system-ui;
    /* font-family: "Cedarville Cursive", cursive; */ 
}

/* custom font */
@font-face {
  font-family: "MyFont"; /* any name */
  src: url('./assets/font/Priestacy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.style {
      font-family: "Cedarville Cursive", cursive;

}


.eat {
    /* font-family: "Cedarville Cursive", cursive; */
    font-family: "MyFont", cursive;
    
}


/* Custom Scrollbar Style */
::-webkit-scrollbar {
  width: 8px; /* scrollbar er width */
}

/* scrollbar background (track) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* background color */
}

/* scrollbar thumb (scroll korar part) */
::-webkit-scrollbar-thumb {
  background: #FF8D29; /* change color here */
  /* border-radius: 10px; round shape */
}

/* hover korle thumb color change hobe */
::-webkit-scrollbar-thumb:hover {
  background: #e66f00;
}

